<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.2" id="app.controle.despesas" versionCode="2.1.0" versionName="2.1.0" version="2.1.0">
		
    <name>App Controle Despesas</name>
		
		<description>Controle despesas mensais.</description>

		<author	href="https://github.com/josuellions/Project_Despesas_App_2017.git"	email="josuellions@gmail.com">Josuel A. Lopes</author>

		<platform name="android" />
		<preference name="phonegap-version" value="cli-6.5.0" />
		<preference name="premissions" value="none" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="false" />
		<preference name="android-minSdkVersion" value="28" /> 
		<preference name="android-targetSdkVersion" value="28" />

		<access origin="*" />
		<allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
		
		<icon src="www/assets/img/icon_02.png" />
		
		<plugin name="cordova-plugin-splashscreen" spec="4.0.3" />
		<splash src="www/assets/img/icon.png" />

	</widget>
