<?xml version="1.0" encoding="UTF-8"?>
<widget	xmlns="http://www.w3.org/ns/widgets"
								xmlns:gap="http://phonegap.com/ns/1.0"
								id="sevensolutions.despesas.app"
								version="1.0.0">
				<name>
								Controle Mensal Despesas
				</name>
				<description>
								Controle despesas mensais.
				</description>
				<author	email="josuel_lions@hotmail.com">
								Josuel A. Lopes
				</author>
</widget>