@media screen and ( min-width: 320px) and (max-width: 1020px) {
	nav.alingMenu {
		/* float: right; */
		/* margin-right: -3.5%; */
		margin-top: 1.3% !important;
		padding: 0;
		color: white;
		position: absolute;
		margin-left: 87.3%;
		/* height: 7px; */
		z-index: 1000;
	}
	nav.alingMenu.alingMenuIndex {
		/* margin-top: 3%; */
		position: absolute;
		margin-left: 80%;
		margin-top: 2.5% !important;
		text-shadow: 0px 0px 15px #337ab7;
	}
	/*EXIBIR ICONE MENU HOME E OUTRAS VIEWS*/
	/*.menuMobile {
		display: none;
	}
	.btnInfo {
		display: none;
	}*/
	/*DEFINE ESTILO BOTÃO MENU*/
	.btn {
		background-color: #474e5d;
	}
	/* Alinhamento dropdown do menu top  */
	.dropdown-menu {
		background-color: #474e5d !important;
		padding-right: -5rem !important;
		opacity: .9;
		float: right;
		margin-right: -4.4vw !important;
	}
	.dropdown-toggle {
		z-index: 2 !important;
		margin-top: -7%;
		padding-right: 15% !important;
	}
	/*Tamanho do icone do botão menu*/
	nav button span {
		font-size: 2.5rem !important;
		text-shadow: 0px 0px 15px #337ab7;
	}
	/*Tamanho alinhamento Menu*/
	nav ul li span {
		font-size: 2.5rem;
		padding: 10.1%;
		padding-bottom: 10.2%;
		width: 60vw;
		padding-left: 15%;
	}
	span a {
		font-size: 1.5rem;
		color: white;
	}
	li.liDivider {
		color: white;
		margin-left: 5vw !important;
		width: 50vw;
	}
	ul a {
		text-decoration: none;
	}
}

/*TELA DESKTOPS*/

@media screen and (min-width: 1024px) {
	nav.alingMenu {
		float: right;
		margin-right: -.8%;
		margin-top: 1%;
		padding: 0;
		color: white;
	}
	nav.alingMenu.alingMenuIndex {
		margin-top: .2%;
		margin-right: 3.5%;
	}
	/*DEFINE ESTILO BOTÃO MENU*/
	.btn {
		background-color: #474e5d;
	}
	/*COR FUNDO MENU*/
	.dropdown-menu {
		background-color: #474e5d !important;
		opacity: .9;
	}
	.dropdown-toggle {
		margin-top: -5%;
		z-index: 2 !important;
	}
	/*Tamanho do icone do botão menu*/
	nav button span {
		font-size: 5rem !important;
	}
	/*Tamanho alinhamento Menu*/
	nav ul li span {
		font-size: 2.5rem;
		padding: .5%;
		padding-bottom: 12.5%;
		padding-left: 15%;
	}
	span a {
		font-size: 1.5rem;
		color: white;
	}
	li.liDivider {
		color: white;
		/*margin-left: 5vw !important;*/
		width: 10vw;
	}
	ul a {
		text-decoration: none;
	}
}