<panel-views>
	<table class="table table-striped table-hader table-responsive tbmenuDesp">
		<thead>
			<tr>
				<th class="text-center" width="20%">Data</th>
				<th class="text-center" width="55%">Despesas</th>
				<th class="text-center" width="1%"></th>
				<th class="text-center" width="18%">Valor</th>
				<th class="text-center despPG" width="6%">PG</th>
			</tr>
		</thead>
	</table>
	
	<table class="table table-striped table-hader table-responsive tbmenuDesp" id="tbDespesas">
		<tbody name="itemTbody" id="itemTbody">
			<tr class="remover-animado" ng-repeat="d in despesas">
				<span onclick="acaoUpdate(d.id)">
					<td class="text-center" width="20%" onclick="acaoUpdate(d.id)">{{d.date}}</td>
					<td width="55%">{{d.nome}}</td>
					<th class="text-center" width="1%">R$</th>
					<td class="text-right">{{d.valor}}</td>
				</span>
				<td class="text-center" width="6%">
					<div class="toggle"  id="acaoStatus">
						<input type="checkbox" name="checkboxdados{{d.id}}" checked="{{d.status}}" id="checkbox-{{d.id}}" onclick="acaoStatu(d.id)">
						<label for="checkboxdadosId"></label>
					</div>
					<a id="dadosID" onclick="acaoDelete(d.id)" hidden>
						<span class="glyphicon glyphicon-trash text-right"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Form de cadastro de despesas mover para view partial-->
	<div class="formCoustom" role="group" aria-label="...">
		<div class="alingBtn" role="group">
			<input class="dtDespesa" type="date" id="dtDespesa" name="dtDespesa" value="{{dtLancamento}}">
		</div>
		<div role="group">
			<input class="listDespesa" list="dataListDespesa" name="textDespesa" id="selectDespesas" placeholder="Despesa">
			<datalist name="dataListDespesa" class="dataListDespesa" id="dataListDespesa" value="" ng-repeat="despesa in listaDespesas">
			
			</datalist>
		</div>
		<div role="group">
			<input class="valDespesa money" type="text" name="valDespesa" id="valDespesa" min="0" placeholder="R$ 0,00"
				required value="" />
		</div>
		<button class="btnGroup" role="group" >
			<span class="glyphicon glyphicon-plus btnDesp hidden" name="create" value="Create" onclick="onCreate()" id="btnDesp"></span>
			<span class="glyphicon glyphicon-floppy-saved btnDespSalve" name="create" value="Create" onclick="onUpdateDespBd()" id="btnDespEdit"></span>
		</button>
	</div>
	
	<table class="table table-striped table-responsive tbDespfoot" id="tbfoot">
		<tfoot>
			<tr>
				<th class="text-right" colspan="2" width="59%">TOTAL</th>
				<th class="text-center" width="1%">R$</th>
				<th class="text-rigth">{{despesaValorTotal}}</th>
				<th width="6%"></th>
			</tr>
		</tfoot>
	</table>
</panel-views>