<panel-views>
	<table class="table table-striped table-hader table-responsive tbmenuDesp">
		<thead>
			<tr>
				<th class="text-center" width="20%">Data</th>
				<th class="text-center" width="45%">Despesas</th>
				<th class="text-center" width="1%"></th>
				<th class="text-center" width="15%">Valor</th>
				<th class="text-center despPG" width="17%">{{titleOptions}}</th>
				<th>TESTE</th>
			</tr>
		</thead>
	</table>
	
	<table class="table table-striped table-hader table-responsive tbmenuDesp" id="tbDespesas">
		<tbody name="itemTbody" id="itemTbody">
			<tr class="remover-animado" ng-repeat="d in despesas">
				<span >
					<td class="text-center" width="20%">{{d.date}}</td>
					<td width="55%" ng-click="onUpdateDesp(d.id)">{{!optionpg}} - {{d.nome}}</td>
					<th class="text-center" width="1%">R$</th>
					<td class="text-right">{{d.valor}}</td>
				</span>
				<td class="text-center" width="6%">
					<div class="toggle"  id="acaoStatus" ng-hide="{{optionpg}}">
						<input type="checkbox"
						 name="checkbox{{d.id}}" 
						 checked="{{d.status}}"
							id="checkbox{{d.id}}" 
							ng-click="checkedStatus(d.id)">
						<label for="checkbox{{d.id}}"></label>
					</div>
				</td>
				<td>
				<a type="button" id="excluir{{d.id}}" 
					ng-click="submitDelete(d.id)" 
					ng-hide="{{optiondel}}">
					<span class="glyphicon glyphicon-trash text-right"></span>
				</a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Form de cadastro de despesas mover para view partial-->
	<form class="formCoustom row" role="group" aria-label="..."name="formulario" ng-submit="submeter()" novalidate>
		<div class="alingBtn" role="group">
			<input class="dtDespesa" ng-model="formDespesa.date"  type="date" id="dtDespesa" name="dtDespesa" value="{{dtLancamento}}">
		</div>
		<div role="group">
			<input class="listDespesa"  ng-model="formDespesa.nome" list="dataListDespesa" name="textDespesa" id="selectDespesas" placeholder="Despesa">
			<datalist name="dataListDespesa" class="dataListDespesa" id="dataListDespesa" value="" ng-repeat="despesa in listaDespesas">
			
			</datalist>
		</div>
		<div role="group">
			<input class="valDespesa money" ng-model="formDespesa.valor"  type="text" name="valDespesa" id="valDespesa" min="0" placeholder="R$ 0,00"
				required value="" />
		</div>
		<button class="btnGroup" role="group" >
			<span class="glyphicon glyphicon-plus btnDesp " name="create" value="Create" id="btnDesp"></span>
			<!--<span class="glyphicon glyphicon-floppy-saved btnDespSalve hidden" name="create" value="Create" onclick="onUpdateDespBd()" id="btnDespEdit"></span>-->
		</button>
	</form>
	
	<table class="table table-striped table-responsive tbDespfoot" id="tbfoot">
		<tfoot>
			<tr>
				<th class="text-right" colspan="2" width="59%">TOTAL</th>
				<th class="text-center" width="1%">R$</th>
				<th class="text-rigth">{{despesaValorTotal}}</th>
				<th width="6%"></th>
			</tr>
		</tfoot>
	</table>
</panel-views>