
<div ng-controller="navegarApp">
	<dir class="container-fluid col-xs-12 col-lg-12 bg-03">
		<h1 class="col-xs-12  col-lg-12 text-center">Controle Despesas</h1>
	</dir>

	<div class="container-fluid col-xs-12 col-lg-12 bg-04">
		<h2 class="alinharMes col-xs-12" id="dtReference">Menu</h2>
	</div>

	<div class="container-fluid col-xs-12 col-lg-12">
		<div class="btnAlingDesp col-xs-12 col-lg-4 col-lg-offset-4">
			<span class="col-xs-11 col-sm-11 col-lg-12  btn-primary btnDesp" id="btnAddEntra" ng-click="submit('entrada')">Entrada Caixa</span>
			<span class="col-xs-11 col-sm-11 col-lg-12  btn-primary btnDesp" id="btnAddDesp" ng-click="submit('despesas')">Despesas</span>
			<span class="col-xs-11 col-sm-11 col-lg-12  btn-primary btnDesp" id="btnVisual" ng-click="submit('visualizar')">Visualizar</span>
			<span class="col-xs-11 col-sm-11 col-lg-12  btn-primary btnDesp" id="btnRelator" ng-click="submit('relatorio')">Relatórios</span>
		</div>
	</div>
</div>