<menu-info></menu-info>

<panel-top></panel-top>
<div class="container-fluid col-xs-12 col-lg-12" ng-controller="BtnhomemenuController">
	<div class="btnAlingDesp from-group  col-lg-4 col-lg-offset-4">
		<button type="submit" class="col-xs-5 col-sm-11 col-lg-12 btn btn-primary" id="btnAddEntra" ng-click="submit('entrada')">
			<i class="glyphicon glyphicon-usd"></i>
			<br />Entrada Caixa
		</button>
		<button type="submit" class="col-xs-5 col-xs-offset-1 col-sm-11 col-lg-12 btn btn-primary" id="btnAddDesp" ng-click="submit('despesas')">
			<i class="glyphicon glyphicon-shopping-cart"></i>
			<br />Despesas
		</button>
		<button type="submit" class="col-xs-5 col-sm-11 col-lg-12 btn btn-primary" id="btnVisual" ng-click="submit('visualizar')">
			<i class="glyphicon glyphicon-zoom-in"></i>
			<br /> Visualizar
		</button>
		<button type="submit" class="col-xs-5 col-xs-offset-1 col-sm-11 col-lg-12 btn btn-primary" id="btnRelator" ng-click="submit('relatorio')">
			<i class="glyphicon glyphicon-list-alt"></i>
			<br />Relatórios
		</button>
		<button type="submit" class="col-xs-5 col-sm-11 col-lg-12 btn btn-primary" id="btnInfoMenu" ng-click="submit('informacoes')">
			<i class="glyphicon glyphicon-info-sign"></i>
			<br />Informações
		</button>
		<button type="submit" class="col-xs-5 col-xs-offset-1 col-sm-11 col-lg-12 btn btn-primary" id="btnSobre" ng-click="submit('sobre')">
			<i class="glyphicon glyphicon-user"></i>
			<br />Sobre
		</button>
	</div>
</div>