* {
	box-sizing: border-box;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

@media screen and (max-width:400px) {
	.html {
		background-size: 200px 200px !important;
	}
	.container-fluid>.btnAlingDesp {
		margin-top: 2.5vh !important;
	}
	.container-fluid>div>.btn {
		height: 15vh !important;
	}
	span.btnDesp {
		padding-top: 1.2rem !important;
		padding-bottom: 1.2rem !important;
		font-size: 1.2rem !important;
		margin-top: -2vh !important;
		/*margin-right: 1.8% ;*/
		margin-left: -.5vw !important;
	}
	span.btnDespSalve {
		padding: 0 !important;
		padding-top: 1.2rem !important;
		padding-bottom: 1.2rem !important;
		font-size: 1.2rem !important;
		margin-top: -1vh !important;
		/*margin-right: 1.8% ;*/
		margin-left: -.5vw !important;
	}
}

@media screen and ( min-width: 320px) and (max-width: 1020px) {
	/*
	body{
		height: 640px;
		width: 360px;
		
	}

	img.imgLg {
			width: 16vw;
			height: 4vh;
	}
	*/
	/*DEFINIR COR DE FUNDO - 01 - Superio*/
	.bg-01 {
		background-color: #474e5d;
		position: absolute;
		height: 40px;
		z-index: 3;
		box-shadow: 0px 0px 10px #337ab7;
	}
	/*DEFINIR COR DE FUNDO - 02 - Rodapé*/
	.bg-02 {
		background-color: #474e5d;
		color: #ffffff;
		position: absolute;
		z-index: 1;
		height: 45px !important;
		box-shadow: 0px 0px 10px #c5cad5;
		border-bottom: 1px solid #c5cad5;
	}
	/*DEFINIR COR DE FUNDO - 03 - Titulo*/
	.bg-03 {
		background-color: #737d93;
		color: #ffffff;
		position: absolute;
		z-index: 1;
		text-align: center;
		box-shadow: 0px 0px 10px #c5cad5;
		border-bottom: 1px solid #c5cad5;
	}
	/*DEFINIR COR DE FUNDO - 04 - Mês Referencia*/
	.bg-04 {
		background-color: #c5cad5;
		box-shadow: 0px 0px 10px #c5cad5;
		border-bottom: 1px solid #c5cad5;
		color: #ffffff;
		position: absolute;
		width: 100%;
		z-index: 1;
		height: 7%;
		padding: 2%;
	}
	/*ALINHAR TEXTO h1 - Texto Principal*/
	.container-fluid>h1 {
		text-shadow: 2px 0px 5px #337ab7;
		font-size: 2.7rem;
	}
	/*BOTÃO OPÇÃO MÊS*/
	.spanOpcaoMesEsquerdo {
		text-shadow: 1px 0px 3px #337ab7;
		font-size: 2.5rem;
		float: left;
		color: white;
		text-align: right;
		position: fixed;
		margin: 0;
		padding: 0;
		padding-top: .7%;
	}
	/* Cor ao passar mouse */
	.spanOpcaoMesEsquerdo:hover {
		color: #337ab7;
	}
	.spanOpcaoMesDireito {
		text-shadow: 1px 0px 3px #337ab7;
		font-size: 2.5rem;
		float: right;
		color: white;
		text-align: left;
		position: fixed;
		margin: 0;
		padding: 0;
		padding-top: 1.5%;
	}
	.spanOpcaoMesDireito:hover {
		color: #337ab7;
	}
	/*ALINHA MÊS*/
	.container-fluid>.alinharMes {
		text-shadow: 1px 0px 3px #337ab7;
		text-align: center;
		height: 7%;
		font-size: 2.5rem;
		padding: 1%;
		margin: 0;
	}
	.container-fluid>.alinharMes h2 {
		text-align: center !important;
	}
	/*ALINHAR FORMULARIO DE DADOS*/
	.container-fluid>div>div>.alinharFormDesp {
		margin-top: 5vh;
		border: 382px 604px solid 2px #337ab7;
		overflow: auto;
		height: 71.5vh;
		max-height: 71.5vh;
	}
	table thead, tfoot {
		background-color: #474e5d;
		color: #c5cad5;
	}
	/*BOTÃO ADICIONAR LINHA TABELA*/
	section {
		padding: 0;
		margin: 0;
	}
	.btnDesp {
		float: right;
		padding: 0 !important;
		padding-top: 1.6rem !important;
		padding-bottom: 1.6rem !important;
		font-size: 2.7rem;
		text-align: center;
		margin-top: -1.2vh !important;
		/*margin-right: 1.8% ;*/
		margin-left: -.2vw !important;
		color: #337ab7;
		background: transparent;
		border: .1rem solid #fff;
		box-shadow: 0px 0px 10px #337ab7;
		text-shadow: 0px 0px 10px #337ab7;
		/*border-color: 1px solid #c5cad5 ;*/
		border-radius: 50%;
	}
	.btnDespSalve {
		float: right;
		padding: 0 !important;
		padding-top: 1.4rem !important;
		padding-bottom: 1.5rem !important;
		font-size: 2.7rem;
		text-align: center;
		margin-top: -1.4vh !important;
		/*margin-right: 1.8% ;*/
		margin-left: -.2vw !important;
		color: #337ab7;
		background: transparent;
		border: .1rem solid #fff;
		box-shadow: 0px 0px 10px #337ab7;
		text-shadow: 0px 0px 10px #337ab7;
		/*border-color: 1px solid #c5cad5 ;*/
		border-radius: 50%;
		/*
		float: right;
		font-size: 2.8rem !important;
		text-align: center;
		margin-right: 0%;
		*/
	}
	span .col-xs-2 {
		padding: 0;
		margin: 1vw;
		width: 15vw;
	}
	span .col-xs-3 {
		padding: 0;
		margin: 1vw;
		width: 18vw;
	}
	span .col-xs-4 {
		padding: 0;
		margin: 0;
		width: 35vw;
		margin-top: .4vh;
	}
	.container-fluid>div>div>div>span .dtDespesa {
		height: 31px;
		padding: .8%;
	}
	.container-fluid>div>div>div>span .listDespesa {
		margin-left: 2%;
		height: 31px;
		padding: .8%;
	}
	.container-fluid>div>div>div>span .valDespesa {
		height: 31px;
		margin-left: 2%;
		text-align: right;
	}
	.textExibir th {
		color: aliceblue;
		padding: 5% !important;
		font-size: 1.5rem !important;
		text-shadow: 0px 0px 3px lightslategrey;
	}
	.container-fluid>div>p {
		padding: 0;
	}
	.listExibDesp {
		float: right;
		padding: 0;
		padding-top: 0%;
		font-size: .7rem;
		text-align: center;
		overflow: auto;
		height: 62vh;
		max-height: 62vh;
		color: aliceblue;
		border: 2px solid lightgray;
		background-color: #474e5d;
		opacity: .90 !important;
	}
	.listDesp {
		padding-top: 4%;
		padding-left: 0%;
		text-align: left;
		height: 37vh;
		max-height: 37vh;
	}
	tbody.listDesp tr td {
		padding-left: 4%;
		margin-left: 2%;
		padding-top: 4%;
	}
	.listExibEntrada {
		background-color: #474e5d;
		border: 2px solid lightgray;
		color: aliceblue;
		padding: 0%;
		padding-top: 0%;
		font-size: .7rem;
		overflow: auto;
		height: 47vh;
		max-height: 47vh;
		opacity: .90;
		float: left;
	}
	div.totalEntrada {
		background-color: #474e5d;
		border: 2px solid lightgray;
		margin-left: 0;
		padding: 2%;
		padding-top: 2.7%;
		margin-top: 2.5%;
		min-height: 5vh;
		font-size: 1rem;
		opacity: .90;
	}
	div.listExibCalculos {
		background-color: #474e5d;
		border: 2px solid lightgray;
		padding: 2%;
		padding-top: 7%;
		margin-left: 0%;
		margin-top: 2.5%;
		min-height: 13.5vh;
		font-size: 1rem;
		opacity: .90;
	}
	/*div.listExibCalculos tr th {
		padding-bottom: 5%;
	}*/
	div.totalDespesas {
		background-color: #474e5d;
		border: 2px solid lightgray;
		padding-top: 2.7% !important;
		padding: 2%;
		margin-top: -10.9%;
		min-height: 5vh;
		margin-left: 0%;
		font-size: 1rem;
		float: left;
	}
	/*CHECKBOX PAGO*/
	/*body {
		background: #f44336de;*/
	/*#eee;*/
	/*}*/
	.toggle {
		margin-bottom: 5px;
	}
	.toggle>input {
		display: none;
	}
	.toggle>label {
		position: relative;
		display: block;
		height: 20px;
		width: 44px;
		background: lightsalmon;
		/* #f44336de;		#898989;*/
		border-radius: 100px;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	.toggle>label:after {
		position: absolute;
		left: -2px;
		top: -4px;
		display: block;
		width: 26px;
		height: 26px;
		border-radius: 100px;
		background: orangered;
		/* #ff0000e6; #fff;*/
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
		content: '';
		transition: all 0.3s ease;
	}
	.toggle>label:active:after {
		transform: scale(1.15, 0.85);
	}
	.toggle>input:checked~label {
		background: #5486ac;
	}
	.toggle>input:checked~label:after {
		left: 20px;
		background: #337ab7;
	}
	.toggle>input:disabled~label {
		background: orangered;
		/*#ca5050;*/
		pointer-events: none;
	}
	.toggle>input:disabled~label:after {
		background: red/* #ca5050;*/
	}
	/*TEXTAREA DESPESAS - Tela Visualizar*/
	.container-fluid>div>.despesa {
		width: 150px;
		height: 320vh;
		padding: 2%;
		padding-top: 2%;
		font-size: .7rem;
		font-style: bold;
	}
	thead.theadDesp tr th {
		text-align: center;
		margin-left: 1%;
		font-size: 1rem;
		background-color: #474e5d;
		opacity: .90 !important;
	}
	thead.theadEntrada tr th {
		text-align: center;
		margin-left: 1%;
		font-size: 1rem;
		background-color: #474e5d;
		opacity: .80 !important;
	}
	.listEntrada {
		padding-top: 4%;
		padding-left: 0%;
		text-align: left;
	}
	tbody.listEntrada tr td {
		padding-left: 4%;
		margin-left: 2%;
		margin-left: 2%;
		padding-top: 4%;
	}
	.container-fluid .tbmenuDesp {
		background-color: lightgray;
		opacity: .7;
	}
	/*TEXTAREA ENTRADA - Tela Visualizar*/
	/*	.container-fluid > div > .entrada {
		width: 155px;
		height: 200px;
		padding:  2%;
		padding-top: 2%;
		font-size: .7rem;
		font-style: bold;	
	}
*/
	/*BOTÃO VISUALIZAR - Tela Visualizar Despesas*/
	.container-fluid>button {
		margin-top: 10%;
		height: 40px;
	}
	/*ALINHA BOTÕES PAGINA INICIAL*/
	.container-fluid>.menuInicial {
		margin-bottom: -1%;
	}
	/*ALINHA BOTÕES PAGINA INICIAL*/
	.container-fluid>.btnAlingDesp {
		margin-top: 8vh;
		margin-left: 1.5vw !important;
		position: fixed;
		/*margin-bottom: 5%;*/
		padding: 0;
		padding-bottom: .5% !important;
	}
	.container-fluid>.btnAlingDesp i {
		font-size: 3.5rem;
		color: #337ab7;
	}
	/*BOTÕES DA PAGINA INICIAL*/
	.container-fluid>div>.btn {
		/*font-weight: bolder;*/
		text-align: center;
		/*padding: 5%;*/
		margin-bottom: 5%;
		color: #5486ac;
		font-size: 1.5rem !important;
		border: none !important;
		border-radius: 2rem !important;
		background: #337ab7 !important;
		color: orange !important;
		opacity: .4rem !important;
		box-shadow: 0px 0px 15px whitesmoke !important;
		text-shadow: 0px 0px 15px white !important;
		padding-top: 7% !important;
		padding-bottom: 7% !important;
	}
	.form-control {
		margin: 0;
		padding: 0;
	}
	.container-fluid>.contVer {
		color: white;
		padding: 0;
		margin-top: 12%;
		font-size: 1rem;
		z-index: 3;
	}
	.tbDespfoot {
		float: left;
		margin-top: 0%;
	}
	/*BOTÃO MENU HOME*/
	.btnMenu {
		float: right;
		margin-top: -9%;
		font-size: 3rem;
		position: fixed;
		z-index: 1;
	}
	/*ICONE REMOVER*/
	span.glyphicon.glyphicon-trash {
		font-size: 1.7rem;
		color: red;
		opacity: .3;
		margin-right: 1vh;
		z-index: 0;
	}
	footer {
		border-top-color: #337ab7 !important;
		border-bottom-color: #474e5d !important;
		right: 0 !important;
		bottom: 0 !important;
		position: fixed !important;
		text-align: center !important;
		box-shadow: 0px 0px 15px #337ab7 !important;
	}
	footer p {
		padding: 0 !important;
		margin: 0 !important;
		margin-top: .4rem !important;
	}
	/*IMG LOGO SUPERIOR*/
	.container-fluid img {
		float: left;
		margin-top: .2%;
		margin-left: -3.7%;
		border-radius: 10%;
		padding-bottom: 0.7%;
		padding: 0;
	}
	/*IMG DE FUNDO BODY GERAL*/
	html {
		/*background-color: #5486ac !important;*/
		/*background-image: linear-gradient(to right, #042b4ad6 0%, #337ab706 90%);*/
		/*background-image: linear-gradient(to right, #042b4ad6 0%, #337ab706 120%), url("../img/logoHomeSize.png");*/
		background-image: url("../img/logoHomeSize.png");
		background-size: 412px 650px;
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
		background-position-y: 17vh;
		background-attachment: fixed;
		/*	opacity: .90;*/
	}
	/*body {*/
	/*background-color: snow !important;*/
	/* gainsboro !important;*/
	/*}
	body {*/
	/*background-image: url("../img/logoHomeSize.png");*/
	/*background-image: linear-gradient(to right, #042b4ad6 0%, #337ab706 90%), url("../img/logoHomeSize.png");*/
	/* #042b4a*/
	/*	background-size: 410px 640px;
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
		background-position-y: 18.2vh;
		background-attachment: fixed;
		/*background-blend-mode: lighten;*/
	/*}*/
	/*
	.heightVisualizar {
		position: absolute;
		height: 576px;
		max-height: 680px;
		overflow-y: auto;
		background-image: url("assets/img/logoHomeSize.png");
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
	}
*/
	/*ICONE DO APP*/
	.iconeSeven {
		border-radius: 50%;
	}
	section {
		/*	margin-bottom: 20%;*/
		position: fixed;
		z-index: 1;
	}
	/*
	#divCompara {
		float: left;
		margin-top: 140%;
		font-size: 14;
		color: white;
		display: inline-flex;
		background-color: red;
		overflow: hidden;
	}
	*/
}

/*TELAS DESKTOPS*/