* {
	font-family: sans-serif;
}

/*DEFINIR COR DE FUNDO - 01 - Superio*/
.bg-01 {
	background-color: #474e5d;
	color: #ffffff;
	margin-top: -8.2%;
	position: fixed;
	width: 100%;
}

/*DEFINIR COR DE FUNDO - 02 - Rodapé*/
.bg-02 {
	background-color: #474e5d;
	color: #ffffff;
	padding-top: 1%;
	margin-top: -1.5%;
	/*position: fixed;*/
	width: 100%;
}

/*DEFINIR COR DE FUNDO - 03 - Titulo*/
.bg-03 {
	background-color: #737d93;
	color: #ffffff;
	margin-top: 4.3%;
	position: fixed;
	width: 100%;
}


/*DEFINIR COR DE FUNDO - 04 - Mês Referencia*/
.bg-04 {
	background-color: #c5cad5;
	color: #ffffff;
	margin-top: 17.7%;
	position: fixed;
	width: 100%;
}

/*ALINHAR TEXTO h1 - Texto Principal*/
.container-fluid > h1 {
	font-size: 2.7rem;
	width: 100%;
}

/*ALINHAR TEXTO h2 - Texto Secundario*/
/*.container-fluid > h2 {*/
	/*margin-left: 5%;*/
	/*font-size: 2rem;*/
	/*width: 100%;*/
	/*margin-top: 20;*/
	/*padding: 0;*/
	/*margin-left: -2%;*/

/*}*/


/*ALINHAR FORMULARIO DE DADOS*/
.container-fluid > div > div > .alinharFormDesp {
	float: left;
	margin-top: 35%;
	border: 200px 300px solid 2px red;
	margin-bottom: 28%;

}

/*BOTÃO ADICIONAR LINHA TABELA*/
/*.container-fluid > /*div > div > div > button {*/
.btnDesp {
	float: right;
	/*border-radius: 50%;*/
	/*height: 50px;*/
	font-size: 2.5rem;
	/*font-style: bold;*/
	text-align: center;
	/*margin-top: 0%;*/
	margin-right: 1%;
	margin-bottom: 68%;
}

.container-fluid > div > div > div > span .dtDespesa {
	width: 22%;
	padding: .8%;
}

.container-fluid > div > div > div > span .textDespesa {
	width: 40%;
	padding: .8%;
}

.container-fluid > div > div > div > span .valDespesa {
	width: 25%;
	text-align: right;
}

.container-fluid > div > div > div > span .radioPend{
	float: left;
	margin-left: 4%;
	margin-top: -4%;
}

.container-fluid > div > div > div > span .radioPg {
	float: left;
	margin-left: 30%;
	margin-top: -4%;
}
.container-fluid > div > div > div > .dtLabel {
	float: left;
}

.container-fluid > div > div > div > .despLabel {
	float: left;
	margin-left: 29%;
}

.container-fluid > div > div > div > .valLabel {
	float: left;
	margin-left: 18%;
}

/*.container-fluid > table {
	float: left;
	margin-top: 5%;
	font-size: 5rem
	margin-bottom: 15%;
}*/

.container-fluid > .textExibir  {
/*float: left;*/
margin-left: -5%;
margin-top: 30%;
/*margin-bottom: 2%;*/
text-align: left;
/*padding: 0;*/
}


/*TEXTO DESPESAS - Tela Visualizar*/
/*.container-fluid > div > .textDespesa {*/
	/*float: left;*/
	/*margin-left: 2%;*/
	/*margin-top: 40%;*/
	/*margin-bottom: 5%;*/
/*}*/


/*TEXTAREA DESPESAS - Tela Visualizar*/
.container-fluid > div > .despesa {
	/*float: left;*/
	/*margin-top: 50%;*/
	/*margin-left: 2%;*/
	width: 150px;
	height: 200px;
	padding:  2%;
	padding-top: 2%;
	font-size: .7rem;
	font-style: bold;
}

.container-fluid > .tbmenuDesp {
	display: none;
}

/*TEXTo ENTRADA - Tela Visualizar*/
/*.container-fluid > div > .textEntrada {*/
	/*float: left;*/
	/*margin-top: 40%;*/
	/*margin-left: 25%;*/
/*}*/

/*TEXTAREA ENTRADA - Tela Visualizar*/
.container-fluid > div > .entrada {
	/*float: right;*/
	/*margin-top: -3%;*/
	/*margin-left: %*/
	width: 155px;
	height: 200px;
	padding:  2%;
	padding-top: 2%;
	font-size: .7rem;
	font-style: bold;
}

/*BOTÃO VISUALIZAR - Tela Visualizar Despesas*/
.container-fluid > button {
	/*float: left;*/
	margin-left: 35%;
	margin-top: 10%;
	height: 40px;
	margin-bottom: 15.5%;
}

/*ALINHA BOTÕES PAGINA INICIAL*/
.container-fluid > .menuInicial {
	margin-top: 45.5%;
	margin-bottom: -1%;
}

/*ALINHA BOTÕES PAGINA INICIAL*/
.container-fluid > .btnAlingDesp {
	float: left;
	margin-top: 60%;
	margin-bottom: 16.5%;
}

/*BOTÕES DA PAGINA INICIAL*/
.container-fluid > div > .btnDesp  {
	/*float: left;*/
	/*margin-left: 5%;*/
	/*margin-top: 1%;*/
	width: 100%;
	height: 50px;
	border-radius: 4%;
	text-align: center;
	padding: 5%;
	margin-bottom: 5%;
	font-size: 2rem;
}

/*ALINHA MÊS*/
.container-fluid >  .alinharMes {
	/*float: center;*/
	/*margin: 0;*/
	/*margin-left: -4.1%;*/
	/*margin-top: 40%;*/
	text-align: center;
	/*position: fixed;*/
	/*padding: 2%;*/
	/*background-color: #c5cad5; #7f889b;*/
	/*color: #fff;*/
	width: 100%;
	font-size: 2.5rem;
}

.container-fluid > .contVer {
	padding: 0;
	float: left;
	margin-top: -4%;
	margin-left: 18%; 
	text-align: left;
	font-size: 1rem;
	position: fixed;
}

.tbDespfoot {
	float: left;
	margin-top: -62%;
	/*margin-bottom: 60%;*/
}


/*BOTÃO MENU HOME*/
.btnMenu {
	float: right;
	margin-top: -10.5%;
	font-size: 3rem;
	position: fixed;
}

footer {
	margin: 0;
	width: 100%;
	margin-top: -9%;
	position: relative;
}

img {
	float: left;
	margin-top: 0.7%;
	margin-left: -3.7%;
	border-radius: 10%;
	padding-bottom: 0.7%;
	width: 20%;
	/*position: fixed;*/
}

/*ICONE DO APP*/
.iconeSeven {
	border-radius: 50%;
}