@media ( min-width: 320px) and (max-width: 1020px ) {
	
	nav.alingMenu {
		float: right;
		margin-right: -3.5%;
		margin-top: 2%;
		padding: 0;
		color: white;
	}

	nav.alingMenu.alingMenuIndex{
		margin-top: 3%;
	}

	/*DEFINE ESTILO BOTÃO MENU*/
	.btn {
		background-color: #474e5d;
	}

	.dropdown-menu  {
		background-color:  #474e5d !important;
		opacity: .9;
	}

	.dropdown-toggle {
		margin-top: -2%;
		margin-top: -5%;
		z-index: 2 !important;
	}

	/*Tamanho do icone do botão menu*/
	nav button span {
		font-size: 3.2rem !important;

	}

	/*Tamanho alinhamento Menu*/
	nav ul li span {
		font-size: 2.5rem;
		padding: 11.5%;
		padding-bottom: 11.5%;
		width: 60vw;
		padding-left: 15%;
	}

	span a {
		font-size: 1.5rem;
		color: white;
	}

	li.liDivider {
		color: white;
		margin-left: 5vw !important;
		width: 50vw;
	}

	ul a {
		text-decoration: none;
	}
}

/*TELA DESKTOPS*/
@media (min-width: 1024px) {
	
	nav.alingMenu {
	float: right;
	margin-right: -.8%;
	margin-top: 1%;
	padding: 0;
	color: white;
	}

	nav.alingMenu.alingMenuIndex{
		margin-top: .2%;
		margin-right: 3.5%;
	}

	/*DEFINE ESTILO BOTÃO MENU*/
	.btn {
		background-color: #474e5d;
	}

	/*COR FUNDO MENU*/
	.dropdown-menu  {
		background-color:  #474e5d !important;
		opacity: .9;
	}

	.dropdown-toggle {
		margin-top: -5%;
		z-index: 2 !important;
	}

	/*Tamanho do icone do botão menu*/
	nav button span {
		font-size: 5rem !important;

	}

	/*Tamanho alinhamento Menu*/
	nav ul li span {
		font-size: 2.5rem;
		padding: .5%;
		padding-bottom: 11.5%;
		padding-left: 15%;
	}

	span a {
		font-size: 1.5rem;
		color: white;
	}

	li.liDivider {
		color: white;
		/*margin-left: 5vw !important;*/
		width: 10vw;
	}

	ul a {
		text-decoration: none;
	}
}