<div class="container-fluid col-xs-12 col-lg-12 bg-03">
  <h1 class="col-xs-12 col-lg-12" id="titleCabecalho">{{titulo}}</h1>
</div>
<div class="container-fluid col-xs-12 bg-04">
  <span
    class="glyphicon glyphicon-menu-left spanOpcaoMesEsquerdo col-xs-4 col-lg-5"
    title="Voltar para mês anterior "
    id="OpcaoMesEsquerdo"
    ng-show="{{passmes}}"
    ng-click="submitPassames(0)"
  ></span>
  <h2 class="{{classSubTitulo}} col-xs-4 col-lg-2" id="dtReference">{{subtitulo}}</h2>
  <span
    class="glyphicon glyphicon-menu-right spanOpcaoMesDireito col-xs-4 col-lg-5"
    title="Passar para mês seguinte"
    id="OpcaoMesDireito"
    ng-show="{{passmes}}"
    ng-click="submitPassames(1)"
  ></span>
</div>
